.right-click-menu{
    position:absolute;
    left: 0px;
    top: 0px;
    height: auto;
    min-width: 240px;
    z-index: 400;
    border:1px solid rgba(0,0,0,0.2);
    border-radius:2px;
    background: #fff;
    display: none;
    .right-click-menu-header{
        position:relative;
        left:0px;
        top:0px;
        width:100%;
        height: 34px;
        border-bottom:1px solid rgba(0,0,0,0.1);
        display: inline-flex;
        justify-content: space-between;
        p{
            margin-left:15px;
            font-weight:bold;
            padding-top:7px;
        }
        i{
            margin-right:15px;
            font-size:16px;
            padding-top:8px;
        }
        i:hover{color:#bd2130; cursor:pointer;}
    }

    .right-click-row{
        position:relative;
        left:0px;
        top:0px;
        width:100%;
        height: 30px;
        //background: #fff;
        //border-bottom:1px solid #333;

        a{
            display: block;
            padding-top:6px;
            margin-left:15px;
            margin-right:15px;
            font-size: 13px;
            transition: all 0.2s;
        }
        i{
            position:absolute;
            right:15px;
            top:8px;
        }

        .side-menu{
            position:absolute;
            left:calc(100% - 4px);
            top:0px;
            min-width: 200px;
            background: #fff;
            border:1px solid rgba(0,0,0,0.2);
            border-radius:2px;
            z-index:500;
            display: none;

            .side-menu-row{
                position:relative;
                left:0px;
                top:0px;
                width:100%;
                height: 30px;

                i{
                    position:absolute;
                    right:15px;
                    top:8px;
                }

                .inside-side-menu{
                    position:absolute;
                    left:calc(100% - 4px);
                    top:0px;
                    min-width: 200px;
                    background: #fff;
                    border:1px solid rgba(0,0,0,0.2);
                    border-radius:2px;
                    z-index:500;
                    display: none;

                    .inside-side-menu-row{
                        position:relative;
                        left:0px;
                        top:0px;
                        width:100%;
                        height: 30px;
                    }
                }
            }
            .side-menu-row:hover{
                .inside-side-menu{
                    display: block;
                }
            }
        }
    }
    .right-click-row:hover{
        .side-menu{
            display: block;
        }
    }
    .line{position:relative; left:15px; width:calc(100% - 30px); height: 1px; background: rgba(0,0,0,0.1);}
}
