/*** header with line ***/

.header_one {
    position: relative;
    left: calc(50% - 700px);
    top: 0px;
    width: 1400px;
    min-height: 100px;
    margin-top: 50px;

    .header_line {
        position: absolute;
        left: 0px;
        top: 26px;
        width: 160px;
        height: 4px;
        background: #A0522D;
    }

    h1 {
        position: relative;
        left: 300px;
        font-weight: lighter;
        font-size: 50px;
        margin-left: 0px;
        margin-top: 0px;
        width: calc(100% - 300px);
    }
}

.header_one_full{left:0px; width: 100%;}






/*** just one image ***/

.single_image {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;

    .swiper-container {
        position: relative;
        top: 0px;
        width: 100%;
        height: auto;

        .swiper-wrapper {
            position: relative;
            left: 0px;
            top: 0px;
            width: 100%;
            height: auto;

            .swiper-slide {
                position: relative;
                left: 0px;
                top: 0px;
                width: 100%;
                height: auto;
                padding-bottom: 50px;

                img {
                    position: relative;
                    left: 0px;
                    top: 0px;
                    width: 100%;
                }
            }
        }
    }
}


/*** text aligned right ***/

.right_text {
    position: relative;
    left: calc(50% - 700px);
    margin-top: 30px;
    width: 1400px;
    min-height: 200px;


    .header_line {
        position: absolute;
        left: 0px;
        top: 26px;
        width: 160px;
        height: 4px;
        background: #A0522D;
    }

    .right_text_box {
        position: relative;
        left: 300px;
        width: calc(100% - 300px);

        h3 {
            font-size: 25px;
            padding-top: 10px;
        }
    }
}

.right_text_full{left:0px; width: 100%;}

/*** two images ***/
//.two_images {
//    position: relative;
//    left: calc(50% - 700px);
//    width: 1400px;
//    margin-top: 60px;
//    padding-bottom: 30px;
//
//    .two_images_image {
//        position: relative;
//        left: 300px;
//        top: 0px;
//        width: calc(100% - 270px);
//        display: flex;
//        padding-bottom: 80px;
//        flex-wrap: wrap;
//        flex-direction: row;
//        justify-content: space-between;
//
//        text-align: left;
//
//        img {
//            position: relative;
//            left: 0px;
//            top: 0px;
//            width: calc(100% - 15px);
//        }
//    }
//
//    .two_images_image2 {
//        img{left:15px;}
//    }
//
//}



/*** OUR TEAM ***/
//.our_team {
//    position: relative;
//    left: calc(50% - 700px);
//    width: 1400px;
//
//    padding-bottom: 30px;
//
//    .header_line {
//        position: absolute;
//        left: 0px;
//        top: 12px;
//        width: 160px;
//        height: 4px;
//        background: #A0522D;
//    }
//
//    .our_team_us {
//        position: relative;
//        left: 300px;
//        top: 0px;
//        width: calc(100% - 270px);
//        display: flex;
//        flex-wrap: wrap;
//        flex-direction: row;
//        justify-content: space-between;
//        text-align: left;
//
//        .team_section {
//            position: relative;
//            left: 0px;
//            top: 0px;
//            width: 100%;
//            height: 80px;
//
//            h4 {
//                position: absolute;
//                font-size: 22px;
//                margin-top: 0px;
//            }
//        }
//
//        .our_team_me {
//            position: relative;
//            left: 0px;
//            margin-top: 30px;
//            margin-right: 30px;
//            width: calc(33.33% - 30px);
//            background: red;
//            flex: 0 40%;
//
//            img {
//                position: relative;
//                left: 0px;
//                top: 0px;
//                width: 100%;
//                height: 100%;
//            }
//
//            .mine_wrapper {
//                position: absolute;
//                left: 0px;
//                top: 0px;
//                width: 100%;
//                height: 100%;
//                background: rgba(206, 224, 2, 0.6);
//                opacity: 0;
//                transition: all 0.2s;
//
//                h4 {
//                    position: absolute;
//                    left: 20px;
//                    bottom: 70px;
//                    margin: 0px;
//                    font-size: 20px;
//                    color: #000;
//                }
//
//                p {
//                    position: absolute;
//                    left: 20px;
//                    bottom: 45px;
//                    margin: 0px;
//                    font-size: 15px;
//                }
//
//                .mine_social {
//                    position: absolute;
//                    left: 20px;
//                    bottom: 10px;
//                    width: calc(100% - 40px);
//                    height: 25px;
//
//                    i {
//                        color: #000;
//                        font-size: 22px;
//                        margin-right: 10px;
//                    }
//                }
//
//                .delete_project {
//                    position: absolute;
//                    right: 10px;
//                    top: 10px;
//                    width: 26px;
//                    height: 26px;
//                    text-align: center;
//                    background: #333;
//                }
//
//                .delete_project2 {
//                    right: 40px;
//                }
//
//            }
//        }
//
//        .our_team_me:hover .mine_wrapper {
//            opacity: 1;
//            cursor: pointer;
//        }
//    }
//}


// ------------------------------------------------------------------------------------------------------------------ //
// *** Double images ** //
.double-image{
    position: relative; left:0px; width:100%; display: inline-flex; justify-content: space-between; flex-wrap: nowrap;
    .single-image{
        position:relative; left:0px; width:calc(50% - 15px);
        img{
            position: relative; left:0px; top:0px; width: 100%;
        }
    }
}



.our_team .our_team_us .our_team_me .mine_wrapper .delete_project:hover {
    cursor: pointer;
    background: #FF0D53;
}

.our_team .our_team_us .our_team_me .mine_wrapper .delete_project2:hover {
    background: #3f6ad8;
}

.our_team .our_team_us .our_team_me .mine_wrapper .delete_project i {
    color: #fff;
    font-size: 14px;
    margin-top: 6px;
}

/*.our_team .our_team_us .our_team_me{position:relative; left:0px; top:0px; background:red; height:280px; width:calc(33.33% - 4px); display:inline-block; margin:0px;}*/
/*.our_team .our_team_us .our_team_me:nth-child(2n+0){}*/
/*.our_team .our_team_us .our_team_me:nth-child(3n+0){left:calc(100% - 280px);}*/

/*.our_team .our_team_us .our_team_me .me_wrapper{position:absolute; left:0px; top:0px; right:0px; bottom:0px; width:280px; height:280px; background:yellow;}*/
/*.our_team .our_team_us .our_team_me:nth-child(2n+0) .me_wrapper, .our_team .our_team_us .our_team_me:nth-child(5n+0) .me_wrapper{*/
/*left:calc(50% - 140px);*/
/*}*/
/*.our_team .our_team_us .our_team_me:nth-child(3n+0) .me_wrapper{*/
/*left:calc(100% - 280px);*/
/*}*/
/*.our_team .our_team_us .our_team_me:nth-child(4n+0) .me_wrapper{*/
/*left:0px;*/
/*}*/

/*.our_team .our_team_us .our_team_me .me_wrapper img{position:absolute; left:0px; top:0px; width:100%;}*/


/**** MOBILE VERSION ****/

@media screen and (max-width: 1600px) {
    .header_one,
    .right_text,
    .two_images,
    .our_team {
        width: 1200px;
        left: calc(50% - 600px);
    }
}

@media screen and (max-width: 1320px) {
    .header_one,
    .single_image,
    .right_text,
    .two_images,
    .our_team {
        width: 100%;
        left: 0px;
    }
}

@media screen and (max-width: 1200px) {
    .header_one .header_line,
    .right_text .header_line {
        width: 110px;
    }
    .header_one h1 {
        font-size: 35px;
        left: 200px;
        width: calc(100% - 200px);
    }
    .right_text .right_text_box {
        left: 200px;
        width: calc(100% - 200px);
    }

    .our_team .our_team_us .our_team_me {
        width: calc(50% - 30px);
    }
}


@media screen and (max-width: 1000px) {
    .header_one h1 {
        left: 0px;
        width: 100%;
        padding-top: 70px;
    }
    .right_text .right_text_box {
        left: 0px;
        width: 100%;
        margin-top: 0px;
        padding-top: 50px;
    }

    .our_team .our_team_us {
        left: 0px;
        width: calc(100% + 30px);
        padding-top: 70px;
    }

    .double-image{
        flex-wrap: wrap;
        .single-image{
            width: 100%; margin-top:30px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header_one .header_line {
        top: 0px;
    }
    .header_one h1 {
        left: 0px;
        width: 100%;
        padding-top: 30px;
        font-size: 30px;
    }

    .right_text .right_text_box p {
        font-size: 14px;
    }

    .two_images {
        display: initial;
    }
    .two_images .two_images_image {
        width: 100%;
        position: relative;
        display: initial;
    }
    .two_images .two_images_image img {
        left: 0px;
        padding-bottom: 30px;
    }

    .our_team .our_team_us {
        width: 100%;
    }
    .our_team .our_team_us .our_team_me {
        width: 100%;
        margin-right: 0px;
    }
}















