.container-r-header{
    position: relative; left:calc(50% - 700px); width: 1400px; margin:30px 0px; display: inline-flex; justify-content: space-between;
    .crh-line{
        position: relative; width: 100%; height: 3px; background: #CEE002; margin-top:26px;
    }
    h2{
        white-space: nowrap; font-size: 30px; margin:0px; margin-left:30px;
    }
}
.container-r-header-sm{
    left:0px; width: calc(100% - 0px); margin-top:0px; margin-bottom: 30px;
    .crh-line{margin-top:18px;}
    h2{
        font-size:22px;
    }
}


// ************************************************* BREADCRUMBS **************************************************** //

.breadcrumbs-w{
    position: relative; left:0px; top:0px; width: 100%; height: 50px; background: #EFEFEF;
    .breadcrumbs{
        position: relative; left:calc(50% - 700px); width: 1400px; height: 50px; display: inline-flex; justify-content: space-between;
        .bc-left{
            position: relative; left:0px; top:0px; height: 100%;
            h2{
                font-size:20px; margin-top:10px;
            }
        }
        .bc-right{
            position: relative; left:0px; top:0px;
            p{
                font-size:14px;
                a{
                    color:grey;  font-weight: bold;
                }
                .active-l{color:#333;}
                span{
                    margin:0px 10px;
                }
                a:hover{color:#333;}
            }
        }
    }
}

// ****************************************************************************************************************** //


// ** Mobile friendly container ** //
@media only screen and (max-width: 1500px) {
    .container-r-header{ left:calc(50% - 600px); width: 1200px; }
    .breadcrumbs-w{
        .breadcrumbs{
            left:calc(50% - 600px); width: 1200px;
        }
    }
}

@media only screen and (max-width: 1300px) {
    .container-r-header{ left:calc(50% - 500px); width: 1000px; }
    .breadcrumbs-w{
        .breadcrumbs{
            left:calc(50% - 500px); width: 1000px;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .container-r-header{ left:50px; width: calc(100% - 100px); }
    .breadcrumbs-w{
        .breadcrumbs{
            left:50px; width: calc(100% - 100px);
        }
    }
}
@media only screen and (max-width: 800px) {
    .container-r-header{
        left:20px; width: calc(100% - 40px);
        flex-wrap: wrap; justify-content: flex-end;
        .crh-line{margin-top:0px;}
        h2{
            margin-top:20px;
        }
    }
    .breadcrumbs-w{
        .breadcrumbs{
            left:20px; width: calc(100% - 40px);
            .bc-right{display: none;}
        }
    }
}
