.homepage{
    position: relative; left: 30px; width: calc(100% - 60px); display: inline-flex; justify-content: space-between;

    .homepage-main{
        width: calc(100% - 400px);

        .home-row{
            position: relative; width: calc(100% - 0px); margin-bottom:30px;

            .home-row-header{
                position:relative;
                top:0px;
                width:100%;
                height:50px;
                background:#A0522D;
                border-top-right-radius: 5px;
                border-top-left-radius: 5px;
                h4{
                    color:#fff;
                    position:absolute; left:20px;
                    margin-top:16px;
                    font-size:18px;
                }
            }

            .home-row-body{
                position:relative;
                top:0px;
                width:calc(100% - 2px);
                border:1px solid rgba(0,0,0,0.1);

                .home-row-items{
                    position:relative;
                    left:20px;
                    padding-top:20px;
                    padding-bottom:20px;
                    top:0px;
                    width:calc(100% - 40px);
                    justify-content: space-between;
                    display:inline-flex;

                    .home-icon{
                        position:relative;
                        width:calc(25% - 20px);
                        height:140px;
                        background:rgba(0,0,0,0.1);
                        justify-content:center;
                        flex-wrap:wrap;
                        text-align:center;
                        transition:all 0.2s;
                        i{
                            font-size:50px;
                            margin-top:30px;
                            margin-bottom:10px;
                            color:#A0522D;
                        }
                        p{
                            color:#A0522D;
                        }
                    }

                    .home-icon:hover{
                        cursor:pointer;
                        background:#A0522D;
                        i, p{color:#fff;}
                    }
                }
            }
        }

        .home-row-top{
            .home-row-body{
                .home-row-items{
                    .home-icon{
                        text-align:left;
                        background:#A0522D;
                        p{
                            color:#fff;
                            margin-left:30px;
                        }
                        h1{
                            color:#fff;
                            margin-left:30px;
                            font-size:35px;
                            margin-bottom:10px;
                            padding-top:24px;
                        }
                    }
                }
            }
        }
    }

    // ** Side right options ** //
    .homepage-side{
        position: relative; width: 360px; min-height: 200px; // border-left: 1px solid rgba(0,0,0,0.1);

        .home-right-wrapper{
            position:relative;
            left:0px;
            top:0px;
            width:100%;
            min-height:120px;
            border-radius:3px;
            border:1px solid rgba(0,0,0,0.1);
            margin-bottom:20px;
            padding-bottom:15px;

            .home-right-header{
                position:relative;
                width:100%;
                height:40px;
                background:#A0522D;
                p{
                    color:#fff;
                    margin-left:15px;
                    margin-top:0px;
                    padding-top:8px;
                }
            }

            .home-right-element{
                position:relative;
                left:10px;
                top:0px;
                width:calc(100% - 30px);
                margin-top:15px;
                background:rgba(0,0,0,0.05);
                padding:5px;
                font-weight:bold;
                font-size:13px;
                border-radius:4px;
            }
        }
    }
}
