html{
    scroll-behavior: smooth;
    ::-webkit-scrollbar, .scroller  {
        width: 8px;
        height:8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #BF4152;
        border-radius: 3px;
    }
}
body{
    font-family: 'Nunito', sans-serif;
    margin:0px;
    padding:0px;
}
a{text-decoration: none; color:#222;}
::-webkit-scrollbar {
    width: 8px;
    height:0px;
}

.main_wrapper{
    position: relative; left:0px; width: 100%; height: auto;
    .resized_wrapper{
        position: relative; left:calc(50% - 700px); width: 1400px; height: auto;
    }
    .resized_wrapper_f{
        display: inline-flex;
    }
    @media screen and (max-width: 1500px){
        .resized_wrapper{
            left:calc(50% - 600px);
            width:1200px;
        }
    }
    @media screen and (max-width: 1300px){
        .resized_wrapper{
            left:calc(50% - 500px);
            width:1000px;
        }
    }
    @media screen and (max-width: 1000px){
        .resized_wrapper{
            left:30px;
            width:calc(100% - 60px);
        }
    }
    @media screen and (max-width: 800px){
        .resized_wrapper{
            left: 20px; height: calc(100% - 60px);
        }
    }
}
.grey-color{background: #F9F9F9;}

@import "system/login/login";

// Import menu
@import "public/layout/menu";
@import "public/layout/footer";

// Import swiper
@import "public/layout/swiper.css";

// Import homepage scss
@import "public/homepage/slider";
@import "public/homepage/our-services";
@import "public/homepage/element";
@import "public/homepage/posts";
