.invoice-preview{
    position: relative; width: 1200px; left:calc(50% - 600px); margin-top:50px;
    .invoice-header{
        position: relative; left:0px; top:0px; width: 100%; display: inline-flex; justify-content: space-between;
        border-bottom: 1px solid rgba(0,0,0,0.2);
        .invoice-logo{
            position: relative; left:0px; top:0px; height: 100%; width: 120px;
            h1{
                position: relative; font-size: 40px; padding-top:calc(50% - 30px);
            }
        }
        .invoice-details{
            position: relative; top:0px;
            .id-row{
                position: relative; left:0px; top:0px; width: 100%; height: 20px; text-align: right;
                p{margin:0px; font-size:16px;}
            }
            margin-bottom: 20px;
        }
    }

    .invoice-order-details{
        position: relative; left:0px; top:0px; width: 100%; margin-top:30px;
        .iod-row{
            position: relative; left:0px; top:0px; width: 100%; height: 22px; display: inline-flex;
            .iod-r-key{
                position: relative; width: 200px; font-size:14px;
            }
            .iod-r-value{
                font-size:14px;
            }
        }
    }
    .invoice-content{
        position: relative; left:0px; top:0px; width: 100%; margin-top:30px;
        table{
            width: 100%;
            tr:first-child{
                background: rgba(0,0,0,0.05); border-left: 1px solid rgba(0,0,0,0.05);
                td{
                    padding:8px 10px; border-left: 1px solid rgba(0,0,0,0.05);
                }
                td:first-child{
                    border-left: 0px;
                }
            }
            tr{
                border-left: 1px solid rgba(0,0,0,0.05); border-right: 1px solid rgba(0,0,0,0.05); border-bottom: 1px solid rgba(0,0,0,0.05);
                td{
                    padding:3px 10px; width: auto; border-left: 1px solid rgba(0,0,0,0.05);
                    font-size:small; text-align: center;
                }
                td:first-child{
                    width:80px; text-align: center; border-left: 0px;
                }
            }
        }
    }

    .show-total{
        position: relative; left:0px; top:0px; width: 100%; display: inline-flex; justify-content: flex-end; margin-top:30px;
        .st-elements{
            position: relative; margin-top: 20px; flex-wrap: wrap; width: 400px;  margin-right: 20px;
            .st-e-element{
                display: inline-flex; justify-content: flex-end; height: 30px; width: 100%;
                .st-e-e-key{

                }
                .st-e-e-value{
                    width: 140px; text-align: right;
                }
            }
            .st-e-element:last-child{margin-bottom: 20px; border-top: 1px solid #333; padding-top:10px;}
        }
    }
}

@media print {
    body {
        position: relative; left:0px; top:0px; width: 100%; height: auto;
        margin: 1.2cm;
        -webkit-print-color-adjust: exact;
        .invoice-preview{
            width: 100%;
            .invoice-logo{
                h1{margin-left:0.5cm;}
            }
            .invoice-header{
                .invoice-details{
                    .id-row{
                        p{
                            font-size:small;
                            margin-right:0.5cm;
                        }
                    }
                }
            }
            .invoice-order-details{
                margin-left:0.5cm;
                .iod-row{
                    .iod-r-key, .iod-r-value{font-size: medium;}
                }
            }
            .invoice-content{
                margin-left: 0.5cm; width: calc(100% - 1cm);
                table{
                    tr{
                        td{
                            font-size:medium;
                        }
                    }
                }
            }
        }
    }
}
