.left_images {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 30%;
  height: 100%;
  overflow: hidden;
}

.left_images img {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
}

.right_part {
  position: absolute;
  left: 30%;
  top: 0px;
  width: 70%;
  height: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.right_part .inside_div {
  display: flex;
  /* align-self: center; */
  width: 80%;
  flex-wrap: wrap;
}

.right_part .inside_div .name_of_app {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 80px;
}

.right_part .inside_div .name_of_app h1 {
  margin-left: 20px;
  font-size: 36px;
}

.right_part .inside_div .div_with_message {
  position: relative;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.right_part .inside_div .div_with_message h2 {
  margin-left: 20px;
  font-weight: normal;
  font-size: 30px;
  margin-bottom: 0px;
}

.right_part .inside_div .div_with_message p {
  margin-left: 20px;
  margin-top: 0px;
}

.right_part .inside_div .div_with_message-2 {
  height: 100px;
}

.right_part .inside_div .input_forms {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  margin-top: 30px;
  justify-content: center;
  padding-left: 20px;
}

.right_part .inside_div .input_forms .single_input_col {
  position: relative;
  display: inline-flex;
  width: calc(50% - 30px);
  min-height: 40px;
  flex-wrap: wrap;
}

.right_part .inside_div .input_forms .single_input_col .single_input_label {
  position: relative;
  width: 100%;
  height: 40px;
}

.right_part .inside_div .input_forms .single_input_col .single_input_label p {
  font-weight: bold;
  color: grey;
  position: absolute;
  margin-top: 8px;
}

.right_part .inside_div .input_forms .single_input_col .single_input_input {
  position: relative;
  width: 100%;
  height: 36px;
  margin-top: 0px;
  border-radius: 3px;
}

.right_part .inside_div .input_forms .single_input_col .single_input_input input {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  background: none;
  padding-left: 20px;
  transition: all 0s;
}

.right_part .inside_div .input_forms .single_input_col .single_input_input input:focus {
  transition: all 0.2s;
  outline: 0px;
  border: 2px solid rgba(160, 82, 45, 0.3);
}

.right_part .inside_div .input_forms .single_input_col2 {
  margin-left: 36px;
}

.right_part .inside_div .checkbox {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  display: inline-flex;
}

.right_part .inside_div .checkbox .stay-signed {
  position: relative;
  left: 0px;
  margin-left: 20px;
  top: 0px;
  height: 40px;
  display: inline-flex;
}

.right_part .inside_div .checkbox .stay-signed input {
  margin-top: 12px;
}

.right_part .inside_div .checkbox .stay-signed p {
  margin-top: 0px;
  padding-top: 7px;
  margin-left: 15px;
}

.right_part .inside_div .checkbox .register-form-w {
  position: relative;
  left: 0px;
}

.right_part .inside_div .checkbox .register-form-w p {
  margin-top: 0px;
  padding-top: 7px;
  margin-left: 15px;
}

.right_part .inside_div .checkbox .register-form-r p {
  color: #17a2b8;
}

.right_part .inside_div .buttons {
  position: relative;
  left: 0px;
  top: 0px;
  width: calc(100% - 0px);
  height: 80px;
  justify-content: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}

.right_part .inside_div .buttons .button {
  float: right;
  position: relative;
  display: inline-flex;
  width: 250px;
  height: 40px;
  top: 10px;
  margin-right: 20px;
  background: #A0522D;
  justify-content: center;
  border: none;
}

.right_part .inside_div .buttons .button p {
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}

.right_part .inside_div .buttons .button:hover {
  cursor: pointer;
}

.right_part .inside_div .buttons .forgot_passw {
  position: relative;
  display: inline-flex;
  top: 10px;
  width: calc(50% - 20px);
  height: 40px;
  justify-content: flex-end;
  float: right;
}

.right_part .inside_div .buttons .forgot_passw p {
  font-weight: bold;
  margin-top: 10px;
  color: #A0522D;
  margin-right: 50px;
}

.right_part .inside_div .sign_link {
  position: relative;
  width: 100%;
  height: 40px;
  margin-top: 10px;
  padding-top: 10px;
}

.right_part .inside_div .sign_link a {
  margin-left: 20px;
}

.right_part .inside_div .sign_link a span {
  color: #A0522D;
  font-weight: bold;
}

.right_part .inside_div .register-wrapper {
  position: relative;
  top: 0px;
  left: 20px;
  width: calc(100% - 40px);
  margin-top: 30px;
}

@media screen and (max-width: 1000px) {
  .left_images {
    display: none;
  }

  .right_part {
    left: 0px;
    width: 100%;
  }

  .right_part .inside_div .name_of_app h1 {
    margin-left: 0px;
  }

  .right_part .inside_div .div_with_message {
    display: none;
  }

  .right_part .inside_div .input_forms {
    padding-left: 0px;
  }

  .right_part .inside_div .input_forms .single_input_col {
    width: 100%;
    margin-left: 0px;
  }

  .right_part .inside_div .buttons {
    height: auto;
  }

  .right_part .inside_div .buttons .button {
    width: 100%;
    margin-right: 0px;
  }

  .right_part .inside_div .buttons .forgot_passw {
    float: initial;
    width: 100%;
    justify-content: initial;
    height: 50px;
  }

  .right_part .inside_div .buttons .forgot_passw p {
    margin-top: 15px;
  }
}

@media screen and (max-width: 800px) {
  .right_part .inside_div .checkbox {
    height: auto;
    flex-wrap: wrap;
  }

  .right_part .inside_div .checkbox .stay-signed {
    width: 100%;
    margin-left: 0px;
  }

  .right_part .inside_div .checkbox .register-form-n {
    display: none;
  }

  .right_part .inside_div .checkbox .register-form-w p {
    margin-left: 0px;
  }
}

button {
  border: 0;
}

