.element{
    position:relative; left: 0px; top: 0px; width: 100%; min-height: 400px; overflow-x: hidden;
    img{
        position: absolute; left:0px; top:0px; height: 100%; width: auto;
    }
    .blank{
        position: absolute; left: 55%; width: 45%; height: 100%; background: #F9F9F9;
    }
    .element-inside{
        position: relative; top:0px; left: 55%; width: calc(700px - 5%); height: auto;  z-index: 10; overflow: hidden; background: #F9F9F9;
        .element-content{
            padding-top:60px; padding-bottom: 60px;

            margin-left:30px; position: relative; width: calc(100% - 30px); background: #F9F9F9;
            h1{
                margin:30px; font-size:40px;
            }
            .element-content-row{
                position: relative; left:30px; width: calc(100% - 60px); display: inline-flex; justify-content: space-between; margin-bottom: 30px;
                .ec-r-icon{
                    position: relative; left:0px; top:0px; width: 26px; height: 26px; border-radius:50%; background: #66FE95; text-align: center;
                    i{
                        color:#fff; font-size:14px; padding-top:6px;
                    }
                }
                .ec-r-text{
                    position: relative; left:0px; width: calc(100% - 40px); top:0px;
                    p{
                        margin:0px; font-size:14px;
                    }
                }
                button{
                    position: relative; background: #333; color:#fff; padding: 5px 15px; border-radius:3px; font-size:14px;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px){
    .element{
        .element-inside{
            left:50%; width: calc(600px - 10%);
        }
    }
}

@media screen and (max-width: 1300px){
    .element{
        .element-inside{
            left:0px; width: calc(100% - 0px);
            .element-content{
                left: 50px; width: calc(100% - 100px);
            }
        }
    }
}

@media screen and (max-width: 800px){
    .element{
        .element-inside{
            left:0px; width: calc(100% - 0px); padding-top:20px; padding-bottom: 20px;
            .element-content{
                margin-left: 0px; width: calc(100% - 40px); left:20px;  padding-top:0px; padding-bottom: 0px;
                h1{margin-left:0px; font-size:28px; width: 100%;}

                .element-content-row{
                    left:0px; width: 100%;
                    .ec-r-icon{
                        i{
                            color:#fff; font-size:14px; padding-top:6px;
                        }
                    }
                    .ec-r-text{
                        p{
                            margin:0px; font-size:14px; text-align: justify;
                        }
                    }
                }
            }
        }
    }
}
