.element{
    position:relative; left: 0px; top: 0px; width: 100%; min-height: 400px;
    img{
        position: relative; left:0px; top:0px; width: 100%;
    }
    .element-inside{
        position: absolute; top:0px; left: calc(50% + 200px); width: 500px; height: 100%; z-index: 10; display: inline-flex; align-items: center;
        .element-content{
            position: relative; width: 100%; height: 80%; background: #fff;
            h1{
                margin:30px; font-size:40px;
            }
            .element-content-row{
                position: relative; left:30px; width: calc(100% - 60px); display: inline-flex; justify-content: space-between; margin-bottom: 30px;
                .ec-r-icon{
                    position: relative; left:0px; top:0px; width: 26px; height: 26px; border-radius:50%; background: #66FE95; text-align: center;
                    i{
                        color:#fff; font-size:14px; padding-top:6px;
                    }
                }
                .ec-r-text{
                    position: relative; left:0px; width: calc(100% - 40px); top:0px;
                    p{
                        margin:0px; text-align: justify;
                    }
                }
                button{
                    position: relative; background: #333; color:#fff; padding: 5px 15px; border-radius:3px; font-size:14px;
                }
            }
        }
    }
}
