.our_services{
    position: relative; left:0px; top:0px; width: 100%; padding-bottom: 60px; background: #fff;
    .header{
        position: relative; left:0px; top:0px; width: 100%; min-height: 120px; padding-top:60px;
        .header_row{
            position: relative; left:0px; top:0px; width: 100%; text-align: center;
            h5{
                margin-top:0px; padding-top:10px;
            }
            h1{margin-top:0px;}
        }
    }
    .header-2{
        height: 60px;
    }
    .service_row{
        position: relative; left:0px; top:0px; width: 100%; margin-top:30px; display: inline-flex; flex-wrap: wrap;
        .single_service{
            position: relative; left:0px; top:0px; width: 33%; min-height: 100px; display: inline-flex; justify-content: space-between; margin-bottom: 30px;
            .image_part{
                position: relative; left:0px; top:0px; width: 100px; height: 100px; border-radius: 50%; overflow: hidden; border: 3px solid #fff;
                img{
                    position: absolute; left:0px; top:0px; width: 100%;
                }
            }
            .text_part{
                position: relative; left:0px; width: calc(100% - 140px); margin-right:20px;
                h5{
                    font-size:20px; margin:0px;
                }
                p{
                    font-size:14px; margin-top:10px; text-align: justify;
                }
            }
        }
    }
}


@media screen and (max-width: 1500px){
    .our_services{
        .service_row{
            .single_service{
                .image_part{
                    width: 80px; height: 80px;
                }
                .text_part{
                    width: calc(100% - 110px);
                }
            }
        }
    }
}
@media screen and (max-width: 1300px){
    .our_services{
        .service_row{
            .single_service{
                width: 50%;
                .text_part{

                }
            }
            .single_service:nth-child(2n + 2){
                .text_part{
                    margin-right: 0px;
                }
            }
        }
    }
}
@media screen and (max-width: 1000px){

}
@media screen and (max-width: 800px){
    .our_services{
        padding-bottom: 0px;
        .service_row{
            .single_service{
                width: 100%; flex-wrap: wrap; justify-content: center;
                .image_part{
                    width: 200px; height: 200px;
                }
                .text_part{
                    margin-right: 0px; margin-top:30px;
                    width: 100%;  text-align: center;
                    h5{font-size:22px;}
                    p{
                        font-size:16px;
                    }
                }
            }
        }
    }
}
