// ** Bootstrap ** //
@import "../layout/bootstrap.css";
// ** Select 2 ** //
@import "../layout/select2.css";

// ** Import classes from public ** //
//@import "../public/template/libraries/classes";


.select2-selection__rendered {
    line-height: 31px !important;
    padding-top:2px !important;
    padding-left:12px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}

html{
    height: 100%;
    ::-webkit-scrollbar {
        width: 8px;
        height:8px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }

    ::-webkit-scrollbar-thumb {
        background-color: #A0522D;
        border-radius: 3px;
    }
}
body{
    font-family: 'Nunito', sans-serif;
    hr{
        background-color: rgba(0,0,0,0.2); height: 1px; border: 0;
    }
    a{ text-decoration: none; color:#333; }
    a:hover{
        text-decoration: none; color:#333;
    }
    position: relative; width: 100%; height: 100%;
    // Redefined Bootstrap
    @import "template/includes/redefined-bootstrap";
}

// ** Import menu stylesheet ** //
$left-menu-w : 320px;
@import "template/top-menu";
@import "template/left-menu";

// ** Main content ** //
@import "template/content";
@import "template/includes/file-uploads";

// ** Invoice css ** //
@import "template/includes/invoice";

// ** Login page ** //
@import "pages/login";

// ------------------------------------------------------------------------------------------------------------------ //
// ** Homepage - Users dashboard ** //
@import "pages/dashboard/homepage";


// ------------------------------------------------------------------------------------------------------------------ //
@import "pages/products/product";
@import "resources/sass/public/app/blog/blog";
@import "resources/sass/public/app/generic/generic";

// ------------------------------------------------------------------------------------------------------------------ //
// ** Swiper css ** //
//@import "../public/template/libraries/swiper.css";

// ------------------------------------------------------------------------------------------------------------------ //
// ** Ordering system ** //
@import "pages/ordering-system/ordering-system";

// ** Cart ** //
//@import "../public/app/shop/cart/cart";


// ** Filters ** //
@import "template/includes/filters";
