.c-box{
    display: none;
    position: absolute; top: 100%; right: 0px; width: 300px; height: 400px; background: #f5f5f5; box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08), 0 1px 6px rgba(0, 0, 0, 0.08); border-radius: 3px; overflow: hidden;
    .cb-header{
        position: relative; left:0px; top:0px; width: 100%; height: 80px; border-bottom: 1px solid rgba(0,0,0,0.1); background: radial-gradient(circle, #eeaeca 0%, #94bbe9 100%);
        text-align: center;
        h4{
            font-size:22px; padding-top:26px;
        }
        .close-cb{
            position: absolute; right:0px; width: 60px; height: 60px; top:0px;
            i{
                position: absolute; right: 20px; font-size:18px; top:0px; margin:0px; transition: 0.3s all;
            }
        }
        .close-cb:hover{
            i{color:#fff;}
        }
    }
    .cb-body{
        position: relative; left:0px; top:0px; width: 100%; height: calc(100% - 80px); overflow-y: auto;
        .not-content{
            position: relative; width: 100%; min-height: 60px; border-bottom: 1px solid rgba(0,0,0,0.1); display: inline-flex; justify-content: space-between;
            .nc-img{
                position: relative; width: 40px; height: 40px; left: 20px; top:10px; border: 1px solid rgba(0,0,0,0.1); text-align: center;
                i{
                    font-size:18px; padding-top:10px; transition: 0.3s all;
                }
            }
            .nc-text{
                position: relative; width: calc(100% - 100px); margin-right:20px; top:0px; padding-top: 0px;
                p{
                    margin:0px; padding-top:8px; padding-bottom: 5px;
                    span{
                        font-weight: bold;
                    }
                }
                .dt{
                    position: relative; left:0px; top:0px; width: 100%; height: 20px; text-align: right;
                    p{
                        margin:0px; padding:0px; font-size:12px; font-weight: bold;
                    }
                }
            }
        }
        .not-content:hover{
            .nc-img{
                i{color:#A0522D; }
            }
        }
    }
}
