.main-search{
    display: none;

    position: fixed; left:0px; top: 0px; width: 100%; height: 100%; background: rgba(0,0,0,0.85); z-index: 1000;

    .search-input{
        position: relative; left:100px; top:100px; width: calc(100% - 200px); height: 80px; display: inline-flex; justify-content: space-between;
        input{
            background: none; border:none; outline: none; height: 100%; width: calc(100% - 80px); font-size: 60px; color:#fff;
        }
        input, textarea, [contenteditable] {
            caret-color: #fff;
        }
        i{
            color:#fff; font-size:40px; padding-top:18px;
        }
        img{
            height: 60px; width: auto; margin-top:10px; position: absolute; right: 0px; transition: 0.2s all;
        }
        #main-search-exit{
            opacity: 0;
        }
    }
    .search-input:hover{
        #main-search-exit{
            opacity: 1;
        }
        #main-search-icon{opacity: 0;}
    }
    .results-wrapper{
        position: relative; left:100px; top:100px; width: calc(100% - 200px); height: calc(100% - 300px); margin-top:60px;

        .results-item{
            position: relative; left:0px; top:0px; width: 100%; min-height: 60px;
            p{
                font-size: 20px; color:#fff; padding-top:16px;
            }

            .arrow-wrapper{
                position: absolute; right:0px; width: 40px; height: 40px; top:10px; text-align:right;
                i{
                    color:#fff; font-size:30px; padding-top:5px; transition: 0.3s all; opacity: 0;
                }
            }
        }
        .results-item:hover{
            .arrow-wrapper{
                i{opacity: 1;}
            }
        }
        .border-line{
            position: relative; left:0px; top:0px; width: 100%; height: 1px; background: rgba(255,255,255,0.4); margin:20px 0px;
        }
    }

    .search-notes{
        position: absolute; left:100px; bottom: 50px; width: calc(100% - 200px); height: 40px;
        p{
            color:#fff;
        }
    }
}
